*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background:#111113;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
li{
    list-style: none;
}
nav{
    border-bottom: 3px solid #363A3F;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111113;
}
nav ul {
    background:#111113;
    position: fixed;
    left: -100%;
    top: 17%;
    flex-direction: column;
    
    width: 100%;
    text-align: center;
    transition: 0.2s;
}
nav li{
    padding: 10px;
}
nav li:hover{
   background:  #272A2D;
}
#home{
    margin-top: 160px;
}
#logo{
    padding: 10px;
    width: 50px;
}
#icon{
    cursor: pointer;
    padding: 10px;
}
#icon:before{
    font-size: 24px;
    content: "\2630";
    color: #EDEEF0;
}
#image{
    margin: 12% auto 5%;
    width: fit-content;
}
#photo{
   border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 0px -4px 25px -10px rgba(180,180,180,0.59);

}
#bonjour{
    text-align: center;
    font-size: 18px;
    color: #EDEEF0;
}
#name{
    text-align: center;
    font-size: 26px;
    color: #EDEEF0;
    font-weight: bold;
}
#job{
    text-align: center;
    color: #B0B4BA;
    width: 96%;
    font-size: 26px;
    margin: 15px auto;
    text-shadow: 1px 1px 1px rgba(126,126,126,0.62);
}
.active #icon:before{
    content: "\2715";
}
.lien-nav{
    text-decoration: none;
    color: #EDEEF0;
}
nav.active ul{
    left: 0;
}
.container-pres{
    margin-top: 80px;
}
h1{
    text-align: center;
    color: #EDEEF0;
    font-weight: 500;
    font-size: 26px;
}
.container-bouton{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
.linkedin, .gitHub, .mail{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #272A2D;
    border-radius: 20px;
    width: 100px;
    padding: 2px 8px;
    user-select: none;
    background: #18191B;
}
.btn:hover{
    background-color: #212225;
}
.lienRes{
    color: #EDEEF0;
    text-decoration: none;
}
.logo{
    width: 30px;
}
@keyframes fleche {
    0%{
        top: 10px;
    }50%{
        bottom: -50px;
    }100%{
        top: 20px;
    }
}
@media (min-width: 750px){
    #icon{
        display: none;
        cursor: pointer;
    }
    nav ul{
        position: relative;
        left: 0;
        top: 0;
        flex-direction: row;
        transition: none;
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
    nav li:hover{
        width: fit-content;
       border-radius: 5%;
    }
}